<!--<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons end>
      <button ion-button icon-right (click)="dashboardPage()">SKIP
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<ion-content padding>


  <!--<div class="hrLine"><span>Or</span></div>&ndash;&gt;-->


  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list style="margin-top: 5px">
      <div style="text-align: center; border-width:0 ">
        <img src="../../assets/imgs/knight-castle-1709878-1452401.png" alt=""/>
      </div>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="username" ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        Username is required
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        Password is required
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Login</button>
      </div>
    </ion-list>
  </form>

</ion-content>
